 /*初始化bootstrap*/
 body{min-width:1400px!important;margin:0 auto}
 .row {padding-right:0;padding-left:0;margin:0;}
 .container{padding-left:0;padding-right:0;width: 1200px!important;}
 .container-fluid{padding-left:0;padding-right:0;margin:0}

 * {
    list-style: none;
    text-decoration: none;
    font-family: Source Han Sans CN;
    margin: 0;
    padding: 0;
    /* color: #FFFFFF; */
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #337ab7;
}
p{
    margin: 0%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {    
    padding-right:0;padding-left:0;}
.header-top{
    /* background: black; */
    color: white;
    height: 102px;
}
.nav-line{
    /* margin-top: 26px; */
    height: 100%;
}

.header-focus{
    background: rgba(0,0,0,0.6);
}
.nav-ul{
    margin: 0 auto;
    padding: 0;
    display: flex;
    height: 100%;
}
.nav-ul li{
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 102px;
}
.nav-height{
        height: 100%;
        display: flex;
    align-items: center;
}
.nav-loggin{
    width: 100%;
    font-size: 14px;
    color: #FFFFFF;
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.nav-loggin li{
    display: inline-block;
    float: left;
    width: 69px;
    height: 29px;
    width: 49%;
    text-align: center;
    line-height: 29px;
}
.nav-loggin li:nth-child(2){
    border: 1px solid #FFFFFF;
}



.footer-block{
    height: 178px;
    background: #1C2228;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 400;
}
.footer-article{
    display: flex;
    justify-content: space-around;
}
.footer-article span{
    text-align: center;
}